{% extends 'templates/base.twig' %}

{% block title %}Code Play Love{% endblock %}

{% block content %}
	<div id="app-root" class="app-root"></div>
{% endblock %}

{% block footer_script %}
	{{ parent() }}
{% endblock %}
