{
	"presets": [
		[
			"env", {
				"targets" :{
					"browsers":["Edge >= 13", "Firefox ESR", "safari >= 10", "Chrome >= 60", "ChromeAndroid >= 60", "last 2 iOS versions"],
					"debug":false,
					"modules": false,
					"useBuiltIns": true
				}
			}
		],
		"react",
		"stage-0"
	],
	"plugins": [
		"transform-class-properties",
		"transform-object-assign"
	]
}
