node_modules/
vendor_modules/

app/config/live.php
app/config/development.php

resources/socialTemp

public/craftstudio/*
public/assets/js/*
!public/assets/js/vendor/*

public/assets/css/*.css
public/assets/fonts/slim-icon-font/*
!public/assets/css/*.min.css
!public/assets/css/vendor/*

*.log
*.map
composer.lock
composer.phar
webpack.vars.local.js
yarn.lock

.DS_Store

.vscode/sftp.json
