.skills {
	&__list {
		width: 100%;
		position: relative;
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-row-gap: 20px;
		justify-items: center;
		align-items: center;
		margin-top: 25px;
		margin-bottom: 50px;

		@include xs {
			margin-bottom: initial;
		}

		@include sm {
			grid-template-columns: repeat(3, 1fr);
			grid-row-gap: 25px;
		}

		@include md {
			grid-template-columns: repeat(5, 1fr);
			grid-row-gap: 50px;
		}

		&-item {
			display: flex;
			justify-content: center;
			align-items: center;
			size: 160px;
			border-radius: 50%;
			color: white;
			text-transform: uppercase;
			font-family: 'Raleway', sans-serif;
			font-weight: 700;
			font-size: 20px;
			transition: transform $defaultTransitionDuration ease;
			z-index: 1;
			will-change: transition;
			user-select: none;

			&:hover {
				transform: scale(1.1);
				z-index: 2;
			}

			&:nth-child(even) {
				transform: translateY(50%);

				&:hover {
					transform: translateY(50%) scale(1.1);
				}
			}

			@include xs {
				&:nth-child(even) {
					transform: initial;

					&:hover {
						transform: scale(1.1);
					}
				}
			}

			&:last-child {
				@include sm-md {
					grid-column-start: 2;
				}
			}

			&--mysql {
				background-color: #4479a1;
				box-shadow: 0 5px 30px rgba(#4479a1, $glowShadowAlpha);
			}

			&--css {
				background-color: #1471b6;
				box-shadow: 0 5px 30px rgba(#1471b6, $glowShadowAlpha);
			}

			&--html {
				background-color: #e44c27;
				box-shadow: 0 5px 30px rgba(#e44c27, $glowShadowAlpha);
			}

			&--javascript {
				background-color: #f7df1f;
				box-shadow: 0 5px 30px rgba(#f7df1f, $glowShadowAlpha);
			}

			&--typo3 {
				background-color: #ff8600;
				box-shadow: 0 5px 30px rgba(#ff8600, $glowShadowAlpha);
			}

			&--php {
				background-color: #8792c0;
				box-shadow: 0 5px 30px rgba(#8792c0, $glowShadowAlpha);
			}

			&--flash {
				background-color: #cd2027;
				box-shadow: 0 5px 30px rgba(#cd2027, $glowShadowAlpha);
			}

			&--unity3d {
				background-color: #232d3a;
				box-shadow: 0 5px 30px rgba(#232d3a, $glowShadowAlpha);
			}

			&--react {
				background-color: #00d8ff;
				box-shadow: 0 5px 30px rgba(#00d8ff, $glowShadowAlpha);
			}

			&--teamwork {
				background-color: #21de27;
				box-shadow: 0 5px 30px rgba(#21de27, $glowShadowAlpha);
			}
		}
	}
}
