/*=================================
=            variables            =
=================================*/

/*----------  colors  ----------*/

$mainTextColor: #3a3e47;
$mutedTextColor: #8f95a3;
$mainBackgroundColor: #fff;
$secondaryBackgroundColor: #f7f7f7;

$primaryColor: #fbb503;
$codeColor: #8ac926;
$playColor: #2e84d1;
$loveColor: #fc5053;

$glowShadowAlpha: 0.5;

$navBackgroundColor: rgb(30, 30, 30);

/*----------  layout  ----------*/
$sectionMarginTop: 20px;
$contentWidth: 1200px;
$globalBorderRadius: 10px;

/*----------  transitions  ----------*/
$defaultTransitionDuration: 250ms;

/*=====  End of variables  ======*/
