/*=============================
=            fonts            =
=============================*/

/*----------  require fonts  ----------*/

@font-face {
	font-family: 'Monoid';
	src: url('../fonts/monoid/Monoid-Regular.eot');
	src: url('../fonts/monoid/Monoid-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/monoid/Monoid-Regular.woff') format('woff'), url('../fonts/monoid/Monoid-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
