<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="theme-color" content="#000">

		<base href="{{ base_url() }}/">

		<title>{% block title %}{% endblock %}</title>

		<meta name="description" content="Portfolio from Paul Kamma. Web- and Game Developer from Germany - Hannover">
		<meta name="robots" content="index,follow">
		<meta name="googlebot" content="index,follow">
		<meta name="google" content="nositelinkssearchbox">
		<meta name="google" content="notranslate">
		<meta name="google-site-verification" content="mhlp-1EuwQxzerBiD4ttaju1uZJfkmrLOFVZlb4Mpc4" />

		<meta name="format-detection" content="telephone=no">

		<meta property="og:url" content="https://codeplaylove.de">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Code Play Love">
		<meta property="og:image" content="https://codeplaylove.de/assets/og/image.png">
		<meta property="og:description" content="Portfolio of Paul Kamma. Web- and Game Developer from Germany - Hannover">
		<meta property="og:site_name" content="Code Play Love">
		<meta property="og:locale" content="en_US">
		<meta property="article:author" content="Paul Kamma">

		<link rel="icon" href="favicon.ico?v1">

		<style>
			body{
				display:none;
			}
    </style>

		{{ csrf.meta | raw }}
	</head>
	<body>
		{% block content %}{% endblock %}

		{% block footer_script %}
			<noscript id="main-style">
				<link rel="stylesheet" type="text/css" href="assets/css/main.css?cb={{ random(10000) }}"/>
			</noscript>
			<noscript id="fontAwesome-style">
				<link rel="stylesheet" type="text/css" href="assets/css/vendor/fontawesome-all.min.css"/>
			</noscript>
			<script>
				var loadDeferredStyles = function() {
					var addStylesNode = document.getElementById("main-style");
					var replacement = document.createElement("div");
					replacement.innerHTML = addStylesNode.textContent;
					document.body.appendChild(replacement)
					addStylesNode.parentElement.removeChild(addStylesNode);

					addStylesNode = document.getElementById("fontAwesome-style");
					replacement = document.createElement("div");
					replacement.innerHTML = addStylesNode.textContent;
					document.body.appendChild(replacement)
					addStylesNode.parentElement.removeChild(addStylesNode);
				};
				var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
						window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
				if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
				else window.addEventListener('load', loadDeferredStyles);
			</script>

			<script async src="assets/js/bundle.js?cb={{ random(10000) }}"></script>
		{% endblock %}
	</body>
</html>
