.article {
	display: grid;
	grid-column: content;
	grid-template-columns: 1fr;
	grid-template-rows: auto;

	@include sm {
		grid-template-columns: repeat(12, 1fr);
	}

	&--page-grid {
		grid-column: page;
	}
}
